<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/blog">My Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBlog">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarBlog">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/blog">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog/new">Create Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Main Site</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
