  <!DOCTYPE html>
  <html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <%- body %>
    </main>
    <%- include('../partials/footer') %>
  </body>
  </html>
