  <!DOCTYPE html>
  <html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <%- body %>
    </main>
    <%- include('../partials/footer') %>
  </body>
  </html>
