<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body>
    <%- include('../partials/uv-header') %>

    <main class="container mt-4"><%- body %></main>

    <%- include('../partials/uv-footer') %>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
