<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>Contact Trung87x</h1>
    <p>If you have any questions or need support, please contact us at <a href="mailto:<%= email %>"><%= email %></a>.</p>

    <h2>Follow Us</h2>
    <ul>
        <li><a href="admin@gmail.com">Email</a></li>
    </ul>
    
</body>
</html>