<form action="/blog/new" method="POST">
  <input type="text" name="title" placeholder="Title" required /><br />
  <textarea name="content" placeholder="Content" required></textarea><br />
  <button type="submit">Create Post</button>
</form>
